.wy-nav-top {
    display: none;
}

.wy-nav-content {
    background-color: #FFF8E1;
}

.btn.btn-neutral {
    visibility: hidden;
    padding: 0;
    width: 0;
}

.btn.btn-neutral .fa {
    display: none;
}

.btn.btn-neutral::before {
    content: 'Назад';
    visibility: visible;
    background-color: #ffe082;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 3px;
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.14);
    float: left;
    min-width: 60px;
}

.btn.btn-neutral.float-right::before {
    content: 'Вперед';
    background-color: #2196f3;
    color: white;
    float: right;
}