.wy-nav-top {
    display: none;
}

.wy-nav-content,
.wy-nav-content-wrap {
    background-color: #FFF8E1;
}

.habinet-btn {
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    border: 1px solid transparent;
    padding: 6px 15px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 3px;
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.14);
    min-width: 60px;
}

.habinet-primary {
    background-color: #2196f3;
    color: white !important;
}

.habinet-secondary {
    background-color: #ffe082;
    color: black !important;
}
